button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5 10px;
  color: #fff;
  background: #2890ec;
  border-radius: 2px;
}

.hr {
  height: 1px;
  width: 90%;
  background: #dadada;
  margin: 10px 0;
}